* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(29, 159, 184);
  color: beige;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 60px;
}

img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 5px solid rgb(0, 26, 255);
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  padding: 60px;
}

.homework,
.classwork {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h2 {
  font-size: 30px;
}

a {
  color: snow;
  text-decoration: none;
  font-size: 30px;
  background-color: rgb(32, 41, 32);
  padding: 10px;
}
